<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	</packageSources>
	<solution>
		<add key="disableSourceControlIntegration" value="false" />
	</solution>
	<packageRestore>
		<!-- Opts out of both Automatic Package Restore and MSBuild-Integrated Package Restore -->
		<add key="enabled" value="True" />

		<!-- Opts out of Automatic Package Restore in Visual Studio -->
		<add key="automatic" value="True" />
	</packageRestore>
</configuration>