<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="TAM_MAX_FOTO" value="1024000000"/>
    <add key="RUTA_FOTO_USUARIO" value="\FOTOSUSUARIO\"/>
    <add key="RUTA_RAIZ_FOTO_USUARIO" value="http://localhost:65227"/>
    <!--PARAMS CONFIGURABLES-->
    <add key="rutaDts" value="\DTS\"/>
    <add key="rutaTmp" value="\Uploads\"/>
    <add key="LOG_ACTIVO" value="1"/>
    <add key="rutaLog" value="/log/"/>
    <add key="ubicacion_version" value="version.xml"/>
    <add key="codigocolorcss" value="0"/>
    <!-- OPENLAYERS CON MAPBOX -->
    <add key="TILE_MAPBOX" value="http://a.tiles.mapbox.com/v4/enteldemo.db2d9e95/${z}/${x}/${y}.png?access_token=pk.eyJ1IjoiZW50ZWxkZW1vIiwiYSI6InhwcmRfYTAifQ.gbHIPPgZuRaqYvTABnXAUg"/>
    <!-- API GOOGLE MAPS -->
    <add key="URL_GMAPS" value="https://maps.google.com/maps/api/js?v=3.21"/>
    <!-- FIRMA PARA LAS APIS DE GOOGLE -->
    <add key="GMAPS_API_KEY" value="AIzaSyDGcGuOWdfT8QFrOKNBJNOo4KPmerjX318"/>
    <add key="GMAPS_API_SIGNATURE" value=""/>
    <add key="GMAPS_API_CLIENT" value=""/>
    <!-- T<id-de-instancia> -->
    <add key="GMAPS_CHANNEL_ID" value=""/>
    <add key="ID_ANALYTICS" value=""/>
    <!-- API BING MAPS -->
    <add key="URL_BINGMAPS" value="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"/>
    <!-- FIRMA PARA LAS APIS DE BING -->
    <add key="BINGMAPS_API_KEY" value="AuY4dANNSsB7JmwDkzxV7zlLhrjN-ttwZfYEaLGiZuZeCoUKzNdtdsQjOuJiWMuu"/>
    <!-- API HERE MAPS -->
    <add key="URL_HEREMAPS" value="http://api.maps.nokia.com/2.2.3/jsl.js"/>
    <!-- FIRMA PARA LAS APIS DE HERE -->
    <add key="HEREMAPS_API_ID" value="EhEpwSLlj7WBSTtKaPVb"/>
    <add key="HEREMAPS_API_CODE" value="PxQbnoimO4W8O67YAv38jg"/>
    <!-- MAX REGISTROS POR PAGINA (REPORTE GPS) -->
    <add key="REG_PAG" value="500"/>
    <!-- MAX REGISTROS POR PAGINA (REPORTE GPS EXCEL) -->
    <add key="REG_PAG_EXCEL" value="500"/>
    <!-- TIEMPO DE ACTUALIZACION AUTOMATICA -->
    <add key="TIME_REFRESH" value="60000"/>
    <!-- LUGAR DE MANUALES -->
    <add key="urlDocs" value="http://demosdata.entel.pe/descargas/manuales/estandares/SeguimientoDeRuta"/>
    <!-- WEB SERVICES -->
    <add key="URL_DIRECCION" value="http://186.160.40.183/MapWebServiceAgpsService/MapWebServiceAgps"/>
    <add key="url_web_service" value="http://demosdata.entel.pe/service_configuration/Service.asmx"/>
    <!--PUSH 3G-->
    <add key="keyCliente3G" value="335"/>
    <add key="urlPush3G" value="http://solucionesmoviles1.entel.pe/push_3g/push.ashx"/>
    <!--INTEGRACION CON OTRAS APPS-->
    <add key="NSERVICES_NOMBRE_PADRE" value=""/>
    <add key="NSERVICES_INSTANCIA_PADRE" value=""/>
    <!--URL DOCUMENTACION,WEB Y VIDEOS-->
    <add key="URL_RECURSOS" value="http://demosdata.entel.pe/descargas/recursos/Pedidos/recursos.xml"/>
    <add key="package" value="NEXTEL_NEW"/>
    <add key="URL_WS_ACTIVE_DIRECTORY" value="http://190.216.186.94:8080/ISORest/service/user/AuthByUserPrincipalName?"/>
    <add key="URL_LOGIN" value="http://localhost/View/"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="cn_solgas" connectionString="data source=172.22.1.47; Initial Catalog=DB_DEMO_ADC_CUS_SOLGAS;  User id=usr_demo_adc_cus_solgas; password=pass_demo_adc_cus_solgas" providerName="System.Data.SqlClient"/>-->
    <add name="cn_solgas" connectionString="data source=.; Initial Catalog=SOLGAS_ENTREGA;  User id=sa; password=1234" providerName="System.Data.SqlClient"/>
    <!--<add name="cn_solgas" connectionString="data source=(local); Initial Catalog=SOLGAS_TEST; User id=sa; password=sql" providerName="System.Data.SqlClient"/>-->
    <!--<add name="conexion" connectionString="data source=(local); Initial Catalog=SOLGAS_BD; User id=sa; password=D@niel123" providerName="System.Data.SqlClient"/>-->
    <!--<add name="oraService" connectionString="data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl.gym.com.pe)));User Id=COMERCIA;Password=COMERCIA;"/>-->
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" defaultRedirect="error.aspx"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="es-PE"/>
    <httpRuntime maxRequestLength="1048576" requestLengthDiskThreshold="1048576" maxQueryStringLength="2097151" maxUrlLength="10999"/>
    <pages enableSessionState="true" validateRequest="false" maxPageStateFieldLength="40" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
    <sessionState timeout="120" mode="InProc" cookieless="AutoDetect"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="102400"/>
      </requestFiltering>
    </security>
    <staticContent>
      <!--<mimeMap fileExtension=".woff" mimeType="application/font-woff" />-->
    </staticContent>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>